{% extends "feed/layout.html" %} {% load static %} {% block searchform %}
{% comment %} <form class="form-inline my-2 my-lg-0 ml-5" action="{% url 'search' %}" method="get">
  <input name="p" type="text" placeholder="Search posts.." />
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">
    Search
  </button>
</form> {% endcomment %}
{% endblock searchform %} 


{% block content %}

<style>


  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  


  </style>
  
  <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

  <div class="container">
    <style>
  
      .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      
      .userDetails {
          display: flex;
          align-items: center;
      }
      
      .profile_img {
          position: relative;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 8px;
      }
      
      .cover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      
      .top .userDetails h5 {
          font-size: 16px;
          color: #4d4d4d;
          font-weight: 500;
          line-height: 1em;
      }
      
      .top .userDetails h5 span {
          font-size: 0.7em;
      }
      
      .settings:after {
          content: '\2807';
          font-size: 25px;
          color: #4d4d4d;
          cursor: pointer;
      }
      
    
      </style>
      <style>
      input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }
  
      input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      }
  
      input[type=submit]:hover {
      background-color: #45a049;
      }
  
      </style>
  
      
  </div>





<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">

      <div class="mob col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

        <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>

        <div class="card">
          <div class="card-body">

            <ul class="list-unstyled mb-0">
              {% if friends %}
              {% for user_p, chat_details in friends %}
              <li class="p-2 border-bottom" >
                {% if request.user.username < user_p.user.username %}
                <a href="{{ request.build_absolute_uri|cut:request.get_full_path }}/chat/{{ request.user.username }}-{{ user_p }}" class="d-flex justify-content-between">
                {% else %}
                  <a href="{{ user_p.user }}-{{ request.user.username }}" class="d-flex justify-content-between">
                {% endif %}
                    <div class="d-flex flex-row">
                    <img src="{{ user_p.image.url }}" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    <div class="pt-1">
                      <p class="fw-bold mb-0">{{ user_p }}</p>
                      {% if chat_details.0 > 0 %}
                      <p class="small text-muted"><strong>{{ chat_details.1 }}</strong></p>
                      {% else %}
                      <p class="small text-muted">{{ chat_details.1 }}</p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="pt-1">
                    {% comment %} time {% endcomment %}
                    <p class="small text-muted mb-1">{{ chat_details.2|timesince }}</p> 
                    {% if chat_details.0 > 0 %}
                    <span class="badge bg-danger float-end" style="color:#fff">{{ chat_details.0 }}</span>
                    {% endif %}
                  </div>
                </a>
              </li>
              {% endfor %}
              {% else %}
              <h5>
                <i
                  >You have no friends now! Make some new
                  <a href="{% url 'users_list' %}">friends here!</a></i
                >
              </h5>
              {% endif %}
            </ul>

          </div>
        </div>

      </div>

      <div class="col-md-6 col-lg-7 col-xl-8">
      <div class="row px-3">
        <div class="top" style="display:fex; justify-content: space-between; align-items: center; width:100%">
          <div class="userDetails" style="display:fex; align-items: center;">
              <div class="profile_img">
                <a href="{{ chat_user.profile.get_absolute_url }}"><img src="{{ chat_user.profile.image.url }}" class="cover" alt=""></a>
              </div>
              <!-- Main Title -->
              <h5><a href="{{ chat_user.profile.get_absolute_url }}" style="text-decoration:none; color:black;">{{ chat_user.profile.name }}</a><br><span>Online</span></h5>
          </div>
          <div>
              <!-- Settings Dot -->
              <div class="btn-group dropleft">
                <div class="settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
               
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <a class="dropdown-item" href="{{ chat_user.profile.get_absolute_url }}" >View Profile</a>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class="" style="height:60vh;overflow-x: hidden; overflow-y: auto;display: flex; flex-direction: column-reverse;">
        <ul class="list-unstyled">
          <div id="display" >
          

          <!-- <div class="container darker">
            <b>Tom</b><p>Hello Everyone, How Are You Guys Doing?</p>
            <span class="time-left">20th, April 2021</span>
          </div> -->
          
          </div>
          
          <div id="display-unread">

          </div>
          
        </ul>
      </div>
        <form id="post-form">
          {% csrf_token %}
          <input type="text" name="message" id="message" width="100px" />
          <input type="submit" value="Send">
      </form>
        

      </div>

    </div>

  </div>
</section>


<script>
  
  $(document).ready(function(){
  
  setInterval(function(){
      $.ajax({
          type: 'GET',
          url : "../getMessages/{{room}}/",
          success: function(response){
              console.log(response);
              $("#display").empty();
              for (var key in response.messages)
              {
                var temp='<li class="d-flex justify-content-end mb-4"><div class="card"><div class="card-header d-flex justify-content-between p-3"><p class="fw-bold mb-0">'+response.messages[key].name+'</p><p class="text-muted small mb-0"><i class="far fa-clock"></i>'+response.messages[key].date+'</p></div><div class="card-body"><p class="mb-0">'+response.messages[key].value+'</p></div></div><img src="'+response.messages[key].image+'" alt="avatar"class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60"></li>';
                if( "{{request.user.username}}" == response.messages[key].username){
                  temp='<li class="d-flex justify-content-end mb-4"><div class="card"><div class="card-header d-flex justify-content-between p-3"><p class="fw-bold mb-0">'+response.messages[key].name+'</p><p class="text-muted small mb-0"><i class="far fa-clock"></i>'+response.messages[key].date+'</p></div><div class="card-body"><p class="mb-0">'+response.messages[key].value+'</p></div></div><img src="'+response.messages[key].image+'" alt="avatar"class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60" ></li>';
                  temp='<li class="d-flex justify-content-end mb-4"><div class="card"><div class="px-2"><p class="mb-0">'+response.messages[key].value+'</p></div><div class="d-flex flex-row-reverse px-2"><p class="text-muted small mb-0 ">'+response.messages[key].date.substr(0,10)+' '+response.messages[key].date.substr(11,5)+'</p></div></div></li>';
                }
                else{
                  temp='<li class="d-flex justify-content-start mb-4"><div class="card"><div class="px-2"><p class="mb-0">'+response.messages[key].value+'</p></div><div class="d-flex flex-row-reverse px-2"><p class="text-muted small mb-0 ">'+response.messages[key].date.substr(0,10)+' '+response.messages[key].date.substr(11,5)+'</p></div></div></li>';
                }
                $("#display").append(temp);
              }
              $("#display-unread").empty();
              if(response.unread_messages.length>0){
                $("#display-unread").append('<p class="card-header d-flex justify-content-center m-3" style="background-color:#d0d0d0">unread</p>');
              }
              for (var key in response.unread_messages)
              {
                var temp='<li class="d-flex justify-content-end mb-4"><div class="card"><div class="card-header d-flex justify-content-between p-3"><p class="fw-bold mb-0">'+response.unread_messages[key].name+'</p><p class="text-muted small mb-0"><i class="far fa-clock"></i>'+response.unread_messages[key].date+'</p></div><div class="card-body"><p class="mb-0">'+response.unread_messages[key].value+'</p></div></div><img src="'+response.unread_messages[key].image+'" alt="avatar"class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60"></li>';
                if( "{{request.user.username}}" == response.unread_messages[key].username){
                  temp='<li class="d-flex justify-content-end mb-4"><div class="card"><div class="card-header d-flex justify-content-between p-3"><p class="fw-bold mb-0">'+response.unread_messages[key].name+'</p><p class="text-muted small mb-0"><i class="far fa-clock"></i>'+response.unread_messages[key].date+'</p></div><div class="card-body"><p class="mb-0">'+response.unread_messages[key].value+'</p></div></div><img src="'+response.unread_messages[key].image+'" alt="avatar"class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60" ></li>';
                  temp='<li class="d-flex justify-content-end mb-4"><div class="card"><div class="px-2"><p class="mb-0">'+response.unread_messages[key].value+'</p></div><div class="d-flex flex-row-reverse px-2"><p class="text-muted small mb-0 ">'+response.unread_messages[key].date.substr(0,10)+' '+response.unread_messages[key].date.substr(11,5)+'</p></div></div></li>';
                }
                else{
                  temp='<li class="d-flex justify-content-start mb-4"><div class="card"><div class="px-2"><p class="mb-0">'+response.unread_messages[key].value+'</p></div><div class="d-flex flex-row-reverse px-2"><p class="text-muted small mb-0 ">'+response.unread_messages[key].date.substr(0,10)+' '+response.unread_messages[key].date.substr(11,5)+'</p></div></div></li>';
                }
                $("#display-unread").append(temp);
              }
          },
          error: function(response){
              alert('An error occured')
          }
      });
  },500);
  })
  </script>
  <script type="text/javascript">
    $(document).on('submit','#post-form',function(e){
      e.preventDefault();
  
      $.ajax({
        type:'POST',
        url:'../send',
        data:{
            room_id:"{{room_details.id}}",
            message:$('#message').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data){
           //alert(data)
        }
      });
      document.getElementById('message').value = ''
    });
  </script>
{% endblock content %}









