{% extends "feed/index layout.html" %} {% load static %} {% block searchform %}
{% comment %} <form class="form-inline my-2 my-lg-0 ml-5" action="{% url 'search' %}" method="get">
  <input name="p" type="text" placeholder="Search posts.." />
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">
    Search
  </button> {% endcomment %}
</form>
{% endblock searchform %}
{% block content %}

<div class="" style="width:100%; max-width:100vw; padding-top:10vh;">
  <div class="row" style="overflow-x:auto; white-space: nowrap; width: 100%; display: flex; flex-wrap: nowrap;">
    <div class="text-center" style="width:120px">
      <a href="#">
        <img src="{{ user.profile.image.url }}" class="rounded-circle" width="70px" height="70px" />
      </a>
      <p>{{ user.username }}</p>
    </div>
    {% for friend in friends %}
    <div class="text-center" style="width:120px">
      <a href="#">
        <img src="{{ friend.user.profile.image.url }}" class="rounded-circle" width="70px" height="70px" />
      </a>
      <p>{{ friend.user.username }}</p>
    </div>
    {% endfor %}
  </div>

  {% comment %} posts {% endcomment %}
  <style>
  
  .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .userDetails {
      display: flex;
      align-items: center;
  }
  
  .profile_img {
      position: relative;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 8px;
  }
  
  .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .card .top .userDetails h3 {
      font-size: 16px;
      color: #4d4d4d;
      font-weight: 500;
      line-height: 1em;
  }
  
  .card .top .userDetails h3 span {
      font-size: 0.7em;
  }
  
  .settings:after {
      content: '\2807';
      font-size: 25px;
      color: #4d4d4d;
      cursor: pointer;
  }
  

  </style>

  <div class="">
    {% for post in posts %}
    <div class="card" style="margin-bottom:20px">
      <div class="row p-2">
        <div class="top">
          <div class="userDetails">
              <div class="profile_img">
                <a href="{{ post.user_name.profile.get_absolute_url }}"><img src="{{ post.user_name.profile.image.url }}" class="cover" alt=""></a>
              </div>
              <!-- Main Title -->
              <h3>{{ post.user_name }}<br><span>{{ post.date_posted }}</span></h3>
          </div>
          <div>
              <!-- Settings Dot -->
              <div class="settings"></div>
          </div>
        </div>
      </div>
      <a href="{% url 'post-detail' post.id %}"><img class="card-img-top" src="{{ post.pic.url }}" alt="" /></a>
      <p class="card-text text-dark p-3 m-0">
        <b>{{ post.user_name }}</b> {{ post.description }}
        <br>

        {% if post.tags %}
        <span class="text-danger">
          <b>Tags: <i>{{ post.tags }}</i></b>
        </span>
        {% endif %}
      </p>
      <div class="card-footer">
        <button class="btn btn-white mr-3 like" id="{{ post.id }}">
          {% if post in liked_post %}
          <a href="{% url 'post-like' %}" style="color: red" id="likebtn{{ post.id }}">
            Unlike</a>
          | {{post.likes.count}} {% else %}
          <a href="{% url 'post-like' %}" style="color: green" id="likebtn{{ post.id }}">
            Like</a>
          | {{post.likes.count}} {% endif %}
        </button>
        <a class="btn btn-outline-info" href="{% url 'post-detail' post.id %}">Comments | {{ post.details.count }}</a>
      </div>
    </div>
    {% endfor %}
  </div>

</div>


{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
  href="?page={{ num }}">{{ num }}</a>
  {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

  {% endif %}

  {% endblock content %}

  {% block jsfiles %}
  <script>
    $(".like").click(function (e) {
      var id = this.id;
      var href = $(".like").find("a").attr("href");
      e.preventDefault();

      $.ajax({
        url: href,
        data: {
          likeId: id,
        },
        success: function (response) {
          if (response.liked) {
            $("#likebtn" + id).html("Unlike");
            $("#likebtn" + id).css("color", "red");
          } else {
            $("#likebtn" + id).html("Like");
            $("#likebtn" + id).css("color", "green");
          }
        },
      });
    });
  </script>
  {% endblock jsfiles %}