{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" type="image/png" href="https://dl.dropboxusercontent.com/s/o093y16u4d3kojv/code.png?dl=0" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
  <link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/s/ecyb1drs5j1jyjf/styles.css?dl=0" />
  <!-- Bootstrap CSS -->
  <!-- Bootstrap Font Icon CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  {% block cssfiles %}{% endblock cssfiles %}
  <title>FLIQ</title>
</head>
<style>
  .nav-item{
    color:black;
  }
  .nav-item.active{
    color:rgb(30, 16, 231);
  }
  a{
    text-decoration:none;
  }
  .navbuttons{
      display: none;
    }
  .mob{
    display: block;
  }
  @media screen and (max-width: 768px) {
    .webnav{
      display: none;
    }
    .webcontent{
      display: none;
    }
    .navbuttons{
      display: block;
    }
    .mob{
      display: none;
    }
}
</style>
<body>
  <div class="webnav" style="width: 100vw;background-color:rgb(255, 255, 255); position: fixed; z-index:2;">
    <div class="row" style="">
      <div class="col-md-4 d-flex align-items-center">
        <a class="nav-item navbar-brand ml-4 mr-4" href="/"><b>FLIQ</b></a>
      </div>
      <div class="col-md-4 d-flex justify-content-between align-items-center border-bottom" style="font-size:19px">
        <a class="p-2 nav-item {% block homeactive %}{% endblock homeactive %}" href="{% url 'home' %}"><i class="bi bi-house-fill"></i></a>
        <a class="p-2 nav-item {% block exploreactive %}{% endblock exploreactive %}" href="{% url 'explore' %}"><i class="bi bi-compass-fill"></i></a>
        <a class="p-2 nav-item {% block newpostactive %}{% endblock newpostactive %}" href="{% url 'post-create' %}"><i class="bi bi-plus-circle-fill"></i></a>
        <a class="p-2 nav-item {% block adduseractive %}{% endblock adduseractive %}" href="{% url 'users_list' %}"><i class="bi bi-heart-fill"></i></a>
        <a class="p-2 nav-item myprofile {% block myprofileactive %}{% endblock myprofileactive %}" href="{{ request.user.profile.get_absolute_url }}"><i class="bi bi-person-circle"></i></a>
        {% if user.is_authenticated %}
        {% endif %} 
      </div>
      <div class="col-md-4 d-flex justify-content-end"style="font-size:19px">
        {% block searchform %}{% endblock searchform %}
        {% if user.is_authenticated %}
        <a class="p-2 mr-2 nav-item {% block searchactive %}{% endblock searchactive %}" href="{% url 'search' %}"><i class="bi bi-search"></i></a>
        <a class="p-2 mr-2 nav-item {% block chatactive %}{% endblock chatactive %}" href="{% url 'chat' %}"><i class="bi bi-chat-right-text-fill"></i></a>
        <a class="p-2 mr-2 nav-item" href="{{ request.user.profile.get_absolute_url }}"><i class="bi bi-person-circle"></i></a>
        {% comment %} <a class="m-2 nav-item btn btn-danger text-light" href="{% url 'logout' %}">Logout</a> {% endcomment %}
        {% else %}
        {% comment %} <a class="mx-3 nav-item btn btn-success  text-light" href="{% url 'login' %}">Login</a>
        <a class="mx-3 nav-item btn btn-info  text-light" href="{% url 'register' %} ">Register</a> {% endcomment %}
        {% endif %} 
      </div>
    </div>
  </div>
  <div class="mobnav border-bottom" style="width: 100vw;background-color:rgb(255, 255, 255); position: fixed; z-index:1;">
    <div class="row" style="">
      <div class="col-3 d-flex align-items-center">
        <a class="nav-item navbar-brand ml-4 mr-4" href="/"><b>FLIQ</b></a>
      </div>
      <div class="col-6 d-flex justify-content-between align-items-center" style="font-size:23px">
        
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        {% if user.is_authenticated %}
        <a class="px-3 nav-item" href="{% url 'search' %}"><i class="bi bi-search"></i></a>
        <a class="px-3 nav-item" href="{% url 'chat' %}"><i class="bi bi-chat-right-text-fill"></i></a>
        <a class="px-3 nav-item" href="{{ request.user.profile.get_absolute_url }}"><i class="bi bi-person-circle"></i></a>
        {% comment %} <a class="m-2 nav-item btn btn-danger text-light" href="{% url 'logout' %}">Logout</a> {% endcomment %}
        {% else %}
        {% comment %} <a class="mx-3 nav-item btn btn-success  text-light" href="{% url 'login' %}">Login</a>
        <a class="mx-3 nav-item btn btn-info  text-light" href="{% url 'register' %} ">Register</a> {% endcomment %}
        {% endif %} 
      </div>
    </div>
  </div>
  <div class="container" style="height:6vh"></div>
  {% block content %}{% endblock content %}
  <div class="container" style="height:6vh"></div>
  <div class="navbuttons" style="width: 100vw;background-color:rgb(255, 255, 255); position: fixed; z-index:1;left: 0;bottom: 0;">
    <div class="row" style="">
      <div class="col-md-3 d-flex align-items-center">
      </div>
      <div class="col-md-6 d-flex justify-content-between align-items-center border-bottom" style="font-size:19px">
        <a class="py-2 px-3 nav-item {% block mobhomeactive %}{% endblock mobhomeactive %}" href="{% url 'home' %}"><i class="bi bi-house-fill"></i></a>
        <a class="py-2 px-3 nav-item {% block mobexploreactive %}{% endblock mobexploreactive %}" href="{% url 'explore' %}"><i class="bi bi-compass-fill"></i></a>
        <a class="py-2 px-3 nav-item {% block mobnewpostactive %}{% endblock mobnewpostactive %}" href="{% url 'post-create' %}"><i class="bi bi-plus-circle-fill"></i></a>
        <a class="py-2 px-3 nav-item {% block mobadduseractive %}{% endblock mobadduseractive %}" href="{% url 'users_list' %}"><i class="bi bi-heart-fill"></i></a>
        <a class="py-2 px-3 nav-item {% block mobmyprofileactive %}{% endblock mobmyprofileactive %}" href="{{ request.user.profile.get_absolute_url }}"><i class="bi bi-person-circle"></i></a>
        {% if user.is_authenticated %}
        {% endif %} 
      </div>
      <div class="col-md-3 d-flex justify-content-end">
      </div>
    </div>
  </div>

  <!-- JS Files -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  {% block jsfiles %}{% endblock jsfiles %}
</body>

</html>