{% extends "feed/layout.html" %} {% load static %}{% block searchform %}
{% comment %} <form class="form-inline my-2 my-lg-0 ml-5" action="{% url 'search' %}" method="get">
  <input name="q" type="text" placeholder="Search users.." />
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">
    Search
  </button>
</form> {% endcomment %}
{% endblock searchform %}
{% block adduseractive %}active{% endblock adduseractive %}
{% block mobadduseractive %}active{% endblock mobadduseractive %}
{% block content %}
<style>
  .rounded{
    object-fit: cover;
  }
  .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
</style>
<div class="">
  <div class="col-xl-6 mx-auto p-2 m-0">
    <div class="card p-3 my-3">
      <h4>Friend Requests Recieved ({{ rec_friend_requests.count }})</h4>
      {% if not rec_friend_requests %}
      <h5><i>No sent requests!</i></h5>
      {% else %} 
      {% for r_request in rec_friend_requests %}
      <div class="py-1" style="display:inline-flex; width:100%">
        <div class="p-0" style="max-width:max-content">
          <a href="{{ r_request.from_user.profile.get_absolute_url }}">
            <img src="{{ r_request.from_user.profile.image.url }}" class="rounded-circle cover" style="position: relative; height:50px; width:50px" alt=""/>
          </a>
        </div>
        <div class="ml-2" style="width:100%">
          <a class="text-dark" style="display: inline-flex;height: 50%;align-items: center;" href="{{ r_request.from_user.profile.get_absolute_url }}"><b>{{ r_request.from_user.username }}</b></a>
          <div class="ml-2" style="display: inline-flex; float: right; height: 50%; align-items: center;">
            <a class="btn btn-success mr-2" href="{% url 'accept_friend_request' r_request.from_user.id %}">Accept</a>
            <a class="btn btn-danger" href="{% url 'delete_friend_request' r_request.from_user.id %}">Reject</a>
          </div>
          <div style="width:100%;">
            <p class="card-text text-dark">Followed by mandeepsingh + 2 more</p>
          </div>
        </div>
      </div>
      {% endfor %} 
      {% endif %}
    </div>
    <div class="card p-3 my-3">
      <h4>Suggestions</h4>
      {% if users %}
        {% for user_p in users %}
          {% if not user_p.user in sent %}
          {% if not user_p.user in received %}
          <div class="py-1" style="display:inline-flex; width:100%">
            <div class="p-0" style="max-width:max-content">
              <a href="{{ user_p.get_absolute_url }}">
                <img src="{{ user_p.image.url }}" class="rounded-circle cover" style="position: relative; height:50px; width:50px" alt=""/>
              </a>
            </div>
            <div class="ml-2" style="width:100%">
              <a class="text-dark" style="display: inline-flex;height: 50%;align-items: center;" href="{{ user_p.get_absolute_url }}"><b>{{ user_p }}</b></a>
              <div class="ml-2" style="display: inline-flex; float: right; height: 50%; align-items: center;">
                <a class="btn btn-primary mr-2" href="{% url 'send_friend_request' user_p.user.id %}">Add Friend</a>
              </div>
              <div style="width:100%;">
                <p class="card-text text-dark">Followed by mandeepsingh + 2 more</p>
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
        {% endfor %}
      {% else %}
        <h5><i>No new people to add now! Please come back later!</i></h5>
      {% endif %}
    </div>
    <div class="card p-3 my-3">
      <h4>Friend Requests Sent ({{ sent_friend_requests.count }})</h4>
      {% if not sent_friend_requests %}
      <h5><i>No sent requests!</i></h5>
      {% else %} 
      {% for s_request in sent_friend_requests %}
      <div class="py-1" style="display:inline-flex; width:100%">
        <div class="p-0" style="max-width:max-content">
          <a href="{{ s_request.to_user.profile.get_absolute_url }}">
            <img src="{{ s_request.to_user.profile.image.url }}" class="rounded-circle cover" style="position: relative; height:50px; width:50px" alt=""/>
          </a>
        </div>
        <div class="ml-2" style="width:100%">
          <a class="text-dark" style="display: inline-flex;height: 50%;align-items: center;" href="{{ s_request.to_user.profile.get_absolute_url }}"><b>{{ s_request.to_user.username }}</b></a>
          <div class="ml-2" style="display: inline-flex; float: right; height: 50%; align-items: center;">
            <a class="btn btn-warning mr-2" href="{% url 'cancel_friend_request' s_request.to_user.id %}">Cancel</a>
          </div>
          <div style="width:100%;">
            <p class="card-text text-dark">Followed by mandeepsingh + 2 more</p>
          </div>
        </div>
      </div>
      {% endfor %} 
      {% endif %}
    </div>
  </div>
  {% endblock content %}
</div>